<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\logs\template_api_internal_nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Web.AspNetCore.Targets.Gelf"/>
	</extensions>
	<targets>
		<target xsi:type="Gelf" name="graylog" endpoint="udp://$graylog_ip:12201" facility="$env_name_file.$applicationname" SendLastFormatParameter="true">
			<parameter name="Url" layout="${aspnet-Request-Url}"/>
			<parameter name="RouteParameters" layout="${aspnet-Request-QueryString}"/>
			<parameter name="Server" layout="${aspnet-Request-Host}"/>
			<parameter name="UserAgent" layout="${aspnet-Request-UserAgent}"/>
			<parameter name="RequestType" layout="${aspnet-Request-Method}"/>
			<parameter name="UserIdentity" layout="${aspnet-User-Identity}"/>
		</target>
	</targets>
	<rules>
		<logger name="Microsoft.*" maxLevel="Warn" final="true" />
		<logger name="*" writeTo="graylog" />
	</rules>
</nlog>